<!-- Default form login -->
<form [formGroup]="loginForm" class="text-center myBorder p-5 center" 
  (ngSubmit)="onSubmit()"
>

  <p class="h4 mb-4" style = "font-family: fantasy;">Login Form</p>

  <!-- userName -->
  <input type="text" formControlName="userName" class="form-control mb-4" placeholder="Enter User Name" required>

  <!-- Password -->
  <input type="password" formControlName="password" class="form-control mb-4" placeholder="Enter Password" required>

  <div class="d-flex">
    <div>
      <!-- Remember me -->
      <mdb-checkbox [default]="true" (change)="rememberMe($event)">Remember me</mdb-checkbox>
    </div>
  </div>

  <!-- Sign in button -->
  <button  mdbBtn block="true" class="my-4 btn peach-gradient" 
    type="submit" 
    style = "color: cornsilk; font-size: smaller; font-weight: bold;"
    [disabled]="!loginForm.valid">Log Me In
  </button>

</form>
<!-- Default form login -->